<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://creativecouple.github.io/jquery-timing/jquery-timing.min.js?v=20141012-210756"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    <div class="wrapper" >
			<div class="card">
				<h1><%= title %></h1>
        <a class="button centr" href="/style-guide.html">Style Guide</a>
			</div>
		</div>
		<div class="wrapper" >
			<div class="card">
				<h1>Blink Lights</h1>
				<button class="button danger centr" id="blink"  onclick="blinkLights()">Blink Light</button>
				<h1 class="center"><i class="fa fa-lightbulb-o" id="lb1"></i></h1>
			</div>
		</div>
    <div class="wrapper" >
      <div class="card">
        <h1>Form Test</h1>
        <form enctype='application/json' id="myform" method="post" action="/light"> 
          <div class="panel" style="width: 20%; padding-top: 10px; padding-left: 20px; padding-right: 5px;">
          <h4> Select Lights </h4>
          <input type="checkbox" name="light" value="1" checked="checked"><%= ls1 %><br>
          <input type="checkbox" name="light" value="2" checked="checked"><%= ls2 %><br>
          <input type="checkbox" name="light" value="3" checked="checked"><%= lamp %><br>
          </div>

          <input class="centr" type="submit">
        </form>
      </div>
    </div>

    <div class="wrapper" >
      <div class="card" id="status-area">
        <h1>Status Area</h1>
        <div class="panel column-left">
            <h2><%= ls1 %></h2>
            <p id="lamp-status" style="text-align:center;">Querying <%= ls1 %> status. Please wait.</p>
            <button class="button centr" disabled="disabled" id="ls1-query"  onclick="statusQuery(1)">Refresh Status</button>
        </div>
        <div class="panel column-right">
            <h2><%= ls2 %></h2>
            <p id="lamp-status" style="text-align:center;">Querying <%= ls2 %> status. Please wait.</p>
            <button class="button centr" disabled="disabled" id="ls2-query"  onclick="statusQuery(2)">Refresh Status</button>
        </div>
        <div class="panel column-center">
            <h2><%= lamp %></h2>
            <p id="lamp-status" style="text-align:center;">Querying <%= lamp %> status. Please wait.</p>
            <button class="button centr" disabled="disabled" id="lamp-query"  onclick="statusQuery(4)">Refresh Status</button>
        </div>
      </div>
    </div>
  </body>
</html>

<script>

function statusQuery(val){
 $.ajax({ 
  type: "post",
  url: "/status",
  data: "light="+val,
  success: function (data) 
  {
      
  }});
};

function size() { 
  var sa = $('#status-area')
    sa.height( 100 + Math.max (
        $('.column-left').height(),
        $('.column‌​-right').height(),
        $('.column-center').height())
    ); 
}

$( window ).resize(size());

$( document ).ready(function(){
  size();
  $("#ls1-query").prop('disabled', false);
});

 var frm = $('#myform');
    frm.submit(function (ev) {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                 // alert('ok');
            }
        });

        ev.preventDefault();
    });

function blinkIcon(icon) {
  icon.repeat().fadeTo(500,0.5).fadeTo(500,1,$).until(2);
}

function blinkLights() {
     $.ajax({ 
        type: "post",
        url: "/light",
        data: "light=1&light=2&light=3",
        success: function (data) 
        {
            blinkIcon($('#lb1'));
        }});
   };

</script>
