<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://creativecouple.github.io/jquery-timing/jquery-timing.min.js?v=20141012-210756"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    <div class="wrapper" >
			<div class="card">
				<h1><%= title %></h1>
        <a class="button centr" href="/style-guide.html">Style Guide</a>
			</div>
		</div>
		<div class="wrapper" >
			<div class="card">
				<h1>Blink Lights</h1>
				<button class="button danger centr" id="blink"  onclick="blinkLights()">Blink Light</button>
				<h1 class="center"><i class="fa fa-lightbulb-o" id="lb1"></i></h1>
			</div>
		</div>
    <div class="wrapper" >
      <div class="card" id="form-card">
        <h1>Modify Lights</h1>
        <form enctype='application/json' id="form-area" method="post" action="/light"> 
          <div class="panel column-pull" style="width:20%; left:1%;">
          <h4> Select Lights </h4>
          <input type="checkbox" name="light" value="1" checked="checked"><%= ls1 %><br>
          <input type="checkbox" name="light" value="2" checked="checked"><%= ls2 %><br>
          <input type="checkbox" name="light" value="4" checked="checked"><%= lamp %><br>
          </div>
          <div class="panel column-pull" style="width: 25%; left:26%;">
          <h4> Color </h4>
          <label for="number">X</label><input type="number" name="x" min="0" max="0.675" value="0.167" step="0.001">
          <label for="number">Y</label><input type="number" name="y" min="0" max="0.518" value="0.04" step="0.001"><br>
          <label for="color">Color</label><input type="color" name="color" value="#336699">
          </div>
          <br>

          <input class="centr" type="submit">
        </form>
      </div>
    </div>

    <div class="wrapper" >
      <div class="card" id="status-area">
        <h1>Status Area</h1>
        <div class="panel column-left">
          <h2 class="logo"><%= ls1 %></h2>
          <h1 class="logo">
            <object id="ls1" data="images/SVG/lightstrip_outline.svg" type="image/svg+xml">
              <param name='fill' value='none' />
              <param name='stroke' value='black' />
              <param name='id' value='svg-ls1' />
            </object>
          </h1>
          <p id="ls1-status" style="text-align:center;">Querying <%= ls1 %> status. Please wait.</p>
          <button class="button centr" disabled="disabled" id="ls1-query"  onclick="statusQuery(1,'#ls1-status','#ls1-query','#svg-ls1')">Refresh Status</button>
        </div>
        <div class="panel column-right">
          <h2><%= ls2 %></h2>
          <h1 class="logo">
            <object  data="images/SVG/lightstrip_outline.svg" type="image/svg+xml">
              <param name='fill' value='none' />
              <param name='stroke' value='black' />
              <param name='id' value='svg-ls2' />
            </object>
          </h1>
          <p id="ls2-status" style="text-align:center;">Querying <%= ls2 %> status. Please wait.</p>
          <button class="button centr" disabled="disabled" id="ls2-query"  onclick="statusQuery(2,'#ls2-status','#ls2-query','#svg-lamp')">Refresh Status</button>
        </div>
        <div class="panel column-center">
          <h2><%= lamp %></h2>
          <h1 class="logo">
            <object data="images/SVG/a19_outline.svg" type="image/svg+xml">
              <param name='fill' value='none' />
              <param name='stroke' value='black' />
              <param name='id' value='svg-lamp' />
            </object>
          </h1>
          <p id="lamp-status" style="text-align:center;">Querying <%= lamp %> status. Please wait.</p>
          <button class="button centr" disabled="disabled" id="lamp-query"  onclick="statusQuery(4,'#lamp-status','#lamp-query','#svg-ls2')">Refresh Status</button>
        </div>
      </div>
    </div>
  </body>
</html>

<script>

function statusQuery(val, statusId, buttonId, svgId) {
  $(buttonId).prop('disabled', true);

  $.ajax({ 
  type: "post",
  url: "/status",
  data: "light="+val,
  success: function (data) {
    $(buttonId).removeProp('disabled');
    $(statusId).css('color', data);
    $(statusId).text(data);
    // alert(data);
  }});
};

function size() { 
  var sa = $('#status-area')
    sa.height( 100 + Math.max (
        $('.column-left').height(),
        $('.column‌​-right').height(),
        $('.column-center').height())
    ); 
}
function size2() {
  var fa = $('#form-card')
  fa.height( 150 + Math.max (
        $('.column-pull').height())
    ); 
}

$( window ).resize(function(){
  size();
  size2();
});

$( document ).ready(function(){
  size();
  size2()
  $("#ls1-query").removeProp('disabled');
  $("#ls2-query").removeProp('disabled');
  $("#lamp-query").removeProp('disabled');
  statusQuery(1,'#ls1-status','#ls1-query');
  statusQuery(2,'#ls2-status','#ls2-query');
  statusQuery(4,'#lamp-status','#lamp-query');
});

 var frm = $('#myform');
    frm.submit(function (ev) {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
            }
        });

        ev.preventDefault();
    });

function blinkIcon(icon) {
  icon.repeat().fadeTo(500,0.5).fadeTo(500,1,$).until(2);
}

function blinkLights() {
 $.ajax({ 
    type: "post",
    url: "/light",
    data: "light=1&light=2&light=4",
    success: function (data) 
    {
        blinkIcon($('#lb1'));
    }});
 };

</script>
